@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #641A4C;
}

.btnQuiz {
    color: white;
    margin-top: 2px;
    height: 30px !important;
    /*marginTop: -1px !important;*/
    background-color: white !important;
    top: 1px;
    /*height: 41px;*/
    color: white !important;
    fontSize: 18px;
    /*background-color: #2ab27b !important;*/
    padding-top: -10px !important;


}


.name {

    position: absolute !important;
    width: 257px !important;
    height: 62px !important;
    margin: 0% 0% 0 34px;

    background: #7B1B60;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF9F9;

    border: 1px solid #FBF2F2;
    padding-left: 27%;
}

.config {

    /*position: absolute !important;*/
    width: 257px !important;
    height: 62px !important;
    margin: 75px 0% 0 34px;

    background: #7B1B60;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /*line-height: 16px;*/
    display: flex;
    align-items: center;
    /*text-align: center;*/

    color: #F8F0F0;
    padding-left: 25%;
}

.alerta {
    position: absolute !important;
    width: 257px !important;
    height: 62px !important;
    margin: 51% 0% 0 34px;
    background: #7B1B60;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F4EBEB;

    padding-left: 25%;

    /*background: url('baseline_alarm_add_white_18dp.png');*/

}


.fieldSet {
    margin: 80% 0% 0 12%;
    paddingHorizontal: 10;
    paddingBottom: 10;
    borderRadius: 5;
    borderWidth: 1;
    alignItems: 'center';
    borderColor: '#000';

    position: absolute;
    width: 257px;
    height: 203px;

    background: #FEF7FC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.legend {
    position: absolute;
    top: -10px;
    left: 10px;
    fontWeight: bold;
    backgroundColor: #FFFFFF;
}


.bgColor2 {
    background-color: #641A4C;
}

.campos1 {
    background-color: #7B1B60;
}

.smile {
    width: 67px;
    height: 67px;
    margin: 23% -1px 0 0;
    background-color: transparent;
}
.first  {
    /*margin-left: 10% !important;*/
}

.r-padding-1sp51qo {
    background-color: transparent !important;
}
.r-justifyContent-1777fci > .css-view-1dbjc4n {
    background-color: transparent !important;
}

.r-margin-n370w6 {
    background-color: transparent !important;
    margin: -195px -3px 0 0 !important;
    display: inline-block;

}
/*.css-view-1dbjc4n r-alignItems-1awozwy r-flex-13awgt0 r-justifyContent-1777fci*/
.r-justifyContent-1777fci {
    margin: -90% 0 0 0 !important;
}